<h1>Willing Users</h1>
<p>Displayed here are people who willingly entererd their information (Users)</p>
<% @users.each do|u|%>
  Name: <%= u.name %> <br>
  Email: <%= u.email %> <br>
  DOB: <%= u.DOB %> <br>
  Social: <%= u.social %> <br>
  Blood Type: <%= u.blood_type %>
  <br>
  <br>

<%end%>
